.home-content {
    text-align: center;
}

.home-icon {
    width: 32.5%;
    padding: 18px 5px;
    margin: 0;
    display: inline-block;
    box-shadow: none;
}

.home-icon img {
    width: 35%;
    display: block;
    margin: auto;
    padding: 14px 0;
}

