<ion-header>
    <ion-navbar>
        <ion-title>
            All Speakers
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="outer-content">
    <ion-list>
        <ion-list-header>
            Key Note
        </ion-list-header>
        <button ion-item *ngFor="let speaker of speakers.keyNote" (click)="goToSpeaker(speaker)">
            <ion-avatar item-start class="headshot">
                <img [src]="speaker.headshot">
            </ion-avatar>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.title }}</h3>
            <p>{{ speaker.company }}</p>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Agile Transformation
        </ion-list-header>
        <button ion-item *ngFor="let speaker of speakers.agileTransformation" (click)="goToSpeaker(speaker)">
            <ion-avatar item-start class="headshot">
                <img [src]="speaker.headshot">
            </ion-avatar>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.title }}</h3>
            <p>{{ speaker.company }}</p>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            UX/UI
        </ion-list-header>

        <button ion-item *ngFor="let speaker of speakers.ux" (click)="goToSpeaker(speaker)">
            <ion-avatar item-start class="headshot">
                <img [src]="speaker.headshot">
            </ion-avatar>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.title }}</h3>
            <p>{{ speaker.company }}</p>
        </button>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Developement
        </ion-list-header>

        <button ion-item *ngFor="let speaker of speakers.devOps" (click)="goToSpeaker(speaker)">
            <ion-avatar item-start class="headshot">
                <img [src]="speaker.headshot">
            </ion-avatar>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.title }}</h3>
            <p>{{ speaker.company }}</p>
        </button>

    </ion-list>

    <ion-list>
        <ion-list-header>
            Business Analysis / Project Management
        </ion-list-header>

        <button ion-item *ngFor="let speaker of speakers.businessAnalysis" (click)="goToSpeaker(speaker)">
            <ion-avatar item-start class="headshot">
                <img [src]="speaker.headshot">
            </ion-avatar>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.title }}</h3>
            <p>{{ speaker.company }}</p>
        </button>

    </ion-list>


</ion-content>