<ion-header>
    <ion-navbar>
        <ion-title>
            Session
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <div class="profile-image">
        <img [src]="sessionInfo.image[0]" />
    </div>

    <div class="profile-image" *ngIf="sessionInfo.image[1]">
        <img [src]="sessionInfo.image[1]" />
    </div>

    <h2>{{ sessionInfo.title }}</h2>
    <button ion-button icon-start class="standard-blue">
  <ion-icon ios="ios-add-circle-outline" md="md-add-circle" class="white-icon"></ion-icon>
  My Schedule
</button>
    <ion-list>
        <ion-list-header>
            Speaker(s)
        </ion-list-header>
        <button ion-item (click)="goToSpeaker(sessionInfo.speakers[0])">
                <ion-icon ios="ios-microphone-outline" md="md-microphone" item-left></ion-icon>
                {{ sessionInfo.speakers[0] }}
            </button>
        <button ion-item *ngIf="sessionInfo.speakers[1]">
                <ion-icon ios="ios-microphone-outline" md="md-microphone" item-left></ion-icon>
                {{ sessionInfo.speakers[1] }}
            </button>
        <ion-list-header>
            Information
        </ion-list-header>
        <ion-item>
            <ion-icon ios="ios-pricetags-outline" md="md-pricetags" item-left></ion-icon>
            {{ sessionInfo.category }}
        </ion-item>
        <ion-item>
            <ion-icon ios="ios-clock-outline" md="md-clock" item-left></ion-icon>
            {{ sessionInfo.time }}
        </ion-item>
        <button ion-item>
            <ion-icon ios="ios-easel-outline" md="md-easel" item-left></ion-icon>
            {{ sessionInfo.room }}
        </button>
        <button ion-item>
            <ion-icon ios="ios-briefcase-outline" md="md-briefcase" item-left></ion-icon>
            Additional Materials
        </button>
        <ion-list-header>
            Description
        </ion-list-header>
        <ion-item padding text-wrap>
            {{ sessionInfo.descriptions }}
        </ion-item>
    </ion-list>
</ion-content>